@using ecommerce.Models
@model Product

<form method="post" action="/Admin/Products/Store" enctype="multipart/form-data">
    <div class="form-group">
        <label for="productName">Name</label>
        <input type="text" name="name" value="@Model.Name" class="form-control" id="productName" placeholder="Enter product Name...">
        <span class="text-danger" asp-validation-for="Name"></span>
        </div>
    <div class="form-group">
        <label for="productdesc">Description</label>
        <textarea type="text" name="description" class="form-control mt-3" id="productdesc" placeholder="Enter product Description..."></textarea>
        <span class="text-danger" asp-validation-for="Description">@Model.Description</span>

    </div>

    <div class="form-group">
        <label for="productPrice">Price</label>
        <input type="text" name="price" value="@Model.Price" class="form-control" id="productPrice" placeholder="Enter product Price...">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>

    <div class="form-group">
        <label for="productQuantity">Quantity</label>
        <input type="text" name="quantity" value="@Model.Quantity" class="form-control" id="productQuantity" placeholder="Enter product Quantity...">
        <span class="text-danger" asp-validation-for="Quantity"></span>
    </div>

    <div class="form-group">
        <label for="productImage">Image</label>
        <input type="file" name="file"  class="form-control" id="productImage" placeholder="Enter product Image...">
        <span class="text-danger" asp-validation-for="Image"></span>
    </div>
    <select class="form-control mt-3" name="CategoryId">
        @foreach(var item in ViewBag.categories)
        {    
          <option value="@item.Id">@item.Name</option>
        }
     </select>
    <button type="submit" class="btn mt-3 btn-outline-success btn-lg">Create</button>
</form>