@using ecommerce.Models
@model Product

<form method="post" action="/Admin/Products/Update" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label for="productName">Name</label>
        <input type="text" name="name" value="@Model.Name" class="form-control" id="productName" placeholder="Enter product Name...">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label for="productdesc">Description</label>
        <textarea type="text" name="Description" class="form-control mt-3" id="productdesc" placeholder="Enter product Description...">@Model.Description</textarea>
        <span class="text-danger" asp-validation-for="Description"></span>

    </div>

    <div class="form-group">
        <label for="productPrice">Price</label>
        <input type="text" name="price" value="@Model.Price" class="form-control" id="productPrice" placeholder="Enter product Price...">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>

    <div class="form-group">
        <label for="productQuantity">Quantity</label>
        <input type="text" name="quantity" value="@Model.Quantity" class="form-control" id="productQuantity" placeholder="Enter product Quantity...">
        <span class="text-danger" asp-validation-for="Quantity"></span>
    </div>

    <div class="form-group">
        <label for="productImage">Image</label>
        <img src="/images/@Model.Image" class="img-size-50" />
        <input type="file" name="file" class="form-control" id="productImage" placeholder="Enter product Image...">
        <span class="text-danger" asp-validation-for="Image"></span>
    </div>
    <select class="form-control mt-3" name="CategoryId">
        @foreach (var item in ViewBag.categories)
        {
            if(item.Id== Model.CategoryId){
                <option selected value="@item.Id">@item.Name</option>

            }
            else
            {
                <option value="@item.Id">@item.Name</option>

            }
        }
    </select>
    <button type="submit" class="btn mt-3 btn-outline-success btn-lg">Update</button>
</form>